<nav class="mg-b">
  <ul class="nav">
    <li><a class="nav-logo" href="/"><img src="assets/test-tube-logo.jpeg" alt="logo" class="logo pure-img"></a></li>   
    <li class="nav-item"><a href="/">Home</a></li>  
    <li class="nav-item"><a href="/scientists">Scientists</a></li>
    <li class="nav-item right"><a href="/about">About</a></li>
  </ul>
</nav>    
{{outlet}}